<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/498969099a.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/public/styles/global.css">
  <link rel="stylesheet" href="/public/styles/custom.css">
  <link rel="stylesheet" href="/public/styles/pages/company/employee-edit.css">
  <link rel="stylesheet" href="/public/styles/partials/header.css">
  <link rel="stylesheet" href="/public/styles/partials/sideBar.css">
  <title>Empresa - Editar funcionário</title>
</head>
<body>
  <div id="viewport">
    <%- include('../../partials/sideBar.ejs') %> 
    <div id="content">
      <%- include('../../partials/header.ejs') %>
      <h1 class="m-5">Editar funcionário - <%- employee.name %> </h1> 
      <div class="m-5">
        <form action="" method="post">
          <div class="row mb-3">
            <div class="col">
              <label for="name">Nome</label>
              <input type="text" class="form-control" id="name" value="<%- employee.name %>">
            </div>
            <div class="col">
              <label for="social-name">Nome social (opcional)</label>
              <input type="text" class="form-control" id="social-name" value="<%- employee.social_name %>">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label for="birth-date">Data de nascimento</label>
              <input type="text" class="form-control" id="birth-date" value="<%- employee.birth_date %>">
            </div>
            <div class="col">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" value="<%- employee.email %> ">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label for="gender">Sexo</label>
              <select type="text" class="form-control" id="gender">
                <option value="masculine" <% if ("Masculino" === employee.gender) { %>
                  selected
                <% } %>>Masculino</option>
                <option value="feminine" <% if ("Feminino" === employee.gender) { %>
                  selected
                <% } %>>Feminino</option>
                <option value="non-binary" <% if ("Não binário" === employee.gender) { %>
                  selected
                <% } %>>Não binário</option>
                <option value="other" <% if ("Outro" === employee.gender) { %>
                  selected
                <% } %>>Outro</option>
              </select>
            </div>
            <div class="col">
              <label for="squad">Squad</label>
              <select type="text" class="form-control" id="squad">
                <% squads.forEach(squad => { %>
                  <option value="<%- squad.value %>"
                    <% if (squad.id === employee.id_squad) { %>
                      selected
                    <% } %>
                    ><%- squad.name %></option>
                <% }) %> 
              </select>
            </div>
          </div>
          <div class="col w-50 mb-5">
            <label for="office">Cargo</label>
            <input type="text" class="form-control" id="office" value="<%- employee.office %>">
          </div>
          <div class="d-block">
            <button type="submit" class="btn btn-primary w-25 text-white py-2">Editar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>