<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/498969099a.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/public/styles/global.css">
  <link rel="stylesheet" href="/public/styles/custom.css">
  <link rel="stylesheet" href="/public/styles/pages/company/employees.css">
  <link rel="stylesheet" href="/public/styles/partials/header.css">
  <link rel="stylesheet" href="/public/styles/partials/sideBar.css">
  <title>Empresa - Funcionários</title>
</head>
<body>
  <div id="viewport">
    <%- include('../../partials/sideBar.ejs') %> 
    <div id="content">
      <%- include('../../partials/header.ejs') %> 
      <div class="wrapper">
        <div class="table-top d-flex">
          <div>
            <h1>Funcionários</h1>
            <p>Aqui você pode gerenciar os <strong><%- employees.length %></strong> funcionários da sua empresa.</p>
          </div>
          <a href="/company/employees/create" class="button-primary">+ Adicionar funcionário</a>
        </div>
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nome</th>
              <th scope="col">Cargo</th>
              <th scope="col">Sexo</th>
              <th scope="col">Squad</th>
              <th scope="col">Email</th>
            </tr>
          </thead>
          <tbody>
            <% employees.forEach(employee => { %>
              <tr>
                <th scope="row"><%- employee.id %></th>
                <td><%- employee.name %></td>
                <td><%- employee.office %></td>
                <td><%- employee.gender %></td>
                <td><%- employee.squad %></td>
                <td><%- employee.email %></td>
              </tr>
            <% }) %> 
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>