<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/498969099a.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/public/styles/css/global.css">
  <link rel="stylesheet" href="/public/styles/css/custom.css">
  <link rel="stylesheet" href="/public/styles/css/pages/company/employee-edit.css">
  <link rel="stylesheet" href="/public/styles/css/partials/header.css">
  <link rel="stylesheet" href="/public/styles/css/partials/side-bar.css">
  <title>Empresa - Editar funcionário</title>
</head>
<body>
  <div id="viewport">
    <%- include('../../partials/side-bar.ejs') %> 
    <div id="content">
      <%- include('../../partials/header.ejs') %>
      <h1 class="m-5">Editar funcionário - <%- employee.name %> </h1> 
      <div class="m-5">
        <form action="" method="post">
          <div class="row mb-3">
            <div class="col">
              <label for="name">Nome</label>
              <input type="text" class="form-control" name="name" id="name" value="<%- employee.name %>">
            </div>
            <div class="col">
              <label for="social_name">Nome social (opcional)</label>
              <input type="text" class="form-control" name="social_name" id="social_name" value="<%- employee.social_name %>">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label for="birth_date">Data de nascimento</label>
              <input disabled type="text" class="form-control" id="birth_date" value="<%- employee.birth_date %>">
            </div>
            <div class="col">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email" id="email" value="<%- employee.email %> ">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label for="gender">Sexo</label>
              <select type="text" name="gender" class="form-control" id="gender">
                <option value="Masculino" <% if ("Masculino" === employee.gender) { %>
                  selected
                <% } %>>Masculino</option>
                <option value="Feminino" <% if ("Feminino" === employee.gender) { %>
                  selected
                <% } %>>Feminino</option>
                <option value="Não-binário" <% if ("Não-binário" === employee.gender) { %>
                  selected
                <% } %>>Não binário</option>
                <option value="Outro" <% if ("Outro" === employee.gender) { %>
                  selected
                <% } %>>Outro</option>
              </select>
            </div>
            <div class="col">
              <label for="squad">Squad</label>
              <select type="text" name="squad" class="form-control" id="squad">
                <option value=""></option>
                <% squads.forEach(squad => { %>
                  <option value="<%- squad.id %>"
                    <% if (squad.id === employee.id_squad) { %>
                      selected
                    <% } %>
                    ><%- squad.name %></option>
                <% }) %> 
              </select>
            </div>
          </div>
          <div class="col w-50 mb-5">
            <label for="office">Cargo</label>
            <input type="text" class="form-control" name="office" id="office" value="<%- employee.office %>">
          </div>
          <div class="d-block">
            <button type="submit" class="btn btn-primary w-25 text-white py-2">Editar</button>
          </div>
        </form>
        <button type="button" id="delete-button" class="mt-2 btn btn-danger w-25 text-white py-2">Excluir</button>
        <div class="modal" id="delete-modal" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Excluir Funcionário</h5>
                <button type="button" id="btn-close" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
              </div>
              <div class="modal-body">
                <p>Quer mesmo excluir esse Funcionário? Essa ação não poderá ser desfeita.</p>
              </div>
              <div class="modal-footer">
                <button type="button" id="btn-cancel" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <form 
                method="POST" 
                action="/empresa/funcionarios/deletar/<%= employee.id %>" 
                id="delete-employee">
                  <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      <% if (typeof errors != 'undefined') { %>
        <div class="alert alert-danger mt-5" role="alert">
          <ul>
            <% errors.forEach((error) => { %>
              <li><%= error.message %></li>
            <% }) %>
          </ul>
        </div>
      <% } %> 
      <% if (messages.success_msg) { %> 
        <div class="alert alert-success mt-5">
          <%= messages.success_msg %>
        </div>
      <% } %>
      <% if (messages.error_msg) { %> 
        <div class="alert alert-danger mt-5">
          <%= messages.error_msg %>
        </div>
      <% } %>
    </div>
  </div>
  <script src="/public/scripts/modalDelete.js"></script>
  <script src="/public/scripts/dropdown.js"></script>
</body>
</html>