<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/498969099a.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/public/styles/css/global.css">
  <link rel="stylesheet" href="/public/styles/css/custom.css">
  <link rel="stylesheet" href="/public/styles/css/pages/company/projects-edit.css">
  <link rel="stylesheet" href="/public/styles/css/partials/header.css">
  <link rel="stylesheet" href="/public/styles/css/partials/side-bar.css">
  <title>Empresa - editar projeto</title>
</head>
<body>
  <div id="viewport">
    <%- include('../../partials/side-bar.ejs') %> 
    <div id="content">
      <%- include('../../partials/header.ejs') %>
      <h1 class="m-5">Editar projeto - <%- project.name %> </h1> 
      <div class="m-5">
        <form action="/empresa/projetos/<%- project.id %> " method="post">
          <div class="row mb-3">
            <div class="col">
              <label for="name">Nome</label>
              <input type="text" class="form-control" name="name"  id="name" value="<%- project.name %>">
            </div>
            <div class="col">
              <label for="squad">Squad responsável</label>
              <select type="text" name="squad" class="form-control" id="squad">
                <option values=""></option>
                <% squads.forEach(squad => { %>
                  <option value="<%- squad.id %>"
                    <% if (squad.id === project.id_squad) { %>
                      selected
                    <% } %>
                    ><%- squad.name %></option>
                <% }) %> 
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label for="description">Descrição</label>
              <textarea class="form-control" name="description" id="description" rows="3"><%- project.description %></textarea>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label for="status">Status</label>
              <select type="text" class="form-control" name="status" id="status">
                <option value="para fazer" <% if ("para fazer" === project.status) { %>
                  selected
                <% } %>>Para fazer</option>
                <option value="em progresso" <% if ("em progresso" === project.status) { %>
                  selected
                <% } %>>Em progresso</option>
                <option value="feito" <% if ("feito" === project.status) { %>
                  selected
                <% } %>>Feito</option>
              </select>
            </div>
          </div>
          <div class="d-block">
            <button type="submit" class="btn btn-primary w-25 text-white py-2">Editar</button>
          </div>
        </form>
        <button type="button" id="delete-button" class="mt-2 btn btn-danger w-25 text-white py-2">Excluir</button>
        <div class="modal" id="delete-modal" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Excluir Projeto</h5>
                <button type="button" id="btn-close" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
              </div>
              <div class="modal-body">
                <p>Quer mesmo excluir esse Projeto? Essa ação não poderá ser desfeita.</p>
              </div>
              <div class="modal-footer">
                <button type="button" id="btn-cancel" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <form 
                method="POST" 
                action="/empresa/projetos/deletar/<%= project.id %>" 
                id="delete-project">
                  <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <% if (typeof errors != 'undefined') { %>
        <div class="alert alert-danger m-5" role="alert">
          <ul>
            <% errors.forEach((error) => { %>
              <li><%= error.message %></li>
            <% }) %>
          </ul>
        </div>
      <% } %> 
      <% if (messages.success_msg) { %> 
        <div class="alert alert-success m-5">
          <%= messages.success_msg %>
        </div>
      <% } %>
      <% if (messages.error_msg) { %> 
        <div class="alert alert-danger m-5">
          <%= messages.error_msg %>
        </div>
      <% } %>
    </div>
  </div>
  <script src="/public/scripts/modalDelete.js"></script>
</body>
</html>