<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/498969099a.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/public/styles/css/global.css">
  <link rel="stylesheet" href="/public/styles/css/custom.css">
  <link rel="stylesheet" href="/public/styles/css/pages/company/projects.css">
  <link rel="stylesheet" href="/public/styles/css/partials/header.css">
  <link rel="stylesheet" href="/public/styles/css/partials/side-bar.css">
  <title>Empresa - Projetos</title>
</head>
<body>
  <div id="viewport">
    <%- include('../../partials/side-bar.ejs') %> 
    <div id="content">
      <%- include('../../partials/header.ejs') %> 
      <div class="wrapper m-5">
        <% if (messages.success_msg) { %> 
          <div class="alert alert-success">
            <%= messages.success_msg %>
          </div>
        <% } %>
        <div class="table-top d-flex">
          <div>
            <h1>Projetos</h1>
            <p>Aqui você pode gerenciar os <strong><%- projects.length %></strong> projetos da sua empresa.</p>
          </div>
          <a href="/empresa/projetos/registrar" class="button-primary">+ Adicionar projeto</a>
        </div>
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nome</th>
              <th scope="col">Squad</th>
              <th scope="col">Status</th>
              <th scope="col">Criado em</th>
              <th scope="col">Terminado em</th>
            </tr>
          </thead>
          <tbody>
            <% projects.forEach(({ id, name, squad, status, created_at, finished_at }) => { %>
                <tr onclick="window.location='/empresa/projetos/<%- id %>'">
                  <th scope="row"><%- id %></th>
                  <td><%- name %></td>
                  <td><%- squad %></td>
                  <td><%- status %></td>
                  <td><%- created_at %></td>
                  <td><%- finished_at %></td>
                </tr>
            <% }) %> 
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>