<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/498969099a.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/public/styles/css/global.css">
  <link rel="stylesheet" href="/public/styles/css/custom.css">
  <link rel="stylesheet" href="/public/styles/css/pages/company/squads-create.css">
  <link rel="stylesheet" href="/public/styles/css/partials/header.css">
  <link rel="stylesheet" href="/public/styles/css/partials/side-bar.css">
  <title>Empresa - registrar squad</title>
</head>
<body>
  <div id="viewport">
    <%- include('../../partials/side-bar.ejs') %> 
    <div id="content">
      <%- include('../../partials/header.ejs') %>
      <h1 class="m-5">Registrar squad</h1> 
      <div class="m-5">
        <form action="/empresa/squads/registrar" method="post">
          <div class="row mb-3">
            <div class="col">
              <label for="name">Nome</label>
              <input type="text" class="form-control" name="name" id="name" placeholder="Epsilon">
            </div>
            <div class="col">
              <label for="manager">Líder do projeto</label>
              <select type="text" class="form-control" name="manager" id="manager">
                <option value=""></option>
                <% employees.forEach(({ id, name }) => { %>
                  <option value="<%- id %>"><%- name %></option>
                <% }) %> 
              </select>
            </div>
          </div>
          <div class="d-block">
            <button type="submit" class="btn btn-primary w-25 text-white py-2">Registrar</button>
          </div>
        </form>
        <% if (typeof errors != 'undefined') { %>
          <div class="alert alert-danger mt-5" role="alert">
            <ul>
              <% errors.forEach((error) => { %>
                <li><%= error.message %></li>
              <% }) %>
            </ul>
          </div>
        <% } %> 
        <% if (messages.success_msg) { %> 
          <div class="alert alert-success m-5">
            <%= messages.success_msg %>
          </div>
        <% } %>
        <% if (messages.error) { %> 
          <div class="alert alert-danger m-5">
            <%= messages.error %>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</body>
</html>