<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/498969099a.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/public/styles/css/global.css">
  <link rel="stylesheet" href="/public/styles/css/custom.css">
  <link rel="stylesheet" href="/public/styles/css/pages/company/squads.css">
  <link rel="stylesheet" href="/public/styles/css/partials/header.css">
  <link rel="stylesheet" href="/public/styles/css/partials/side-bar.css">
  <title>Empresa - Squads</title>
</head>
<body>
  <div id="viewport">
    <%- include('../../partials/side-bar.ejs') %> 
    <div id="content">
      <%- include('../../partials/header.ejs') %>
      <div class="m-5">
        <% if (messages.success_msg) { %> 
          <div class="alert alert-success">
            <%= messages.success_msg %>
          </div>
        <% } %>
        <% if (messages.error_msg) { %> 
          <div class="alert alert-danger">
            <%= messages.error_msg %>
          </div>
        <% } %>
        <div class="table-top d-flex">
          <div>
            <h1>Squads</h1>
            <p>Aqui você pode gerenciar as <strong><%- squads.length %></strong> squads da sua empresa.</p>
          </div>
          <a href="/empresa/squads/registrar" class="button-primary">+ Adicionar squad</a>
        </div>
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nome</th>
              <th scope="col">Líder</th>
              <th scope="col">Membros</th>
              <th scope="col">Projetos designados</th>
            </tr>
          </thead>
          <tbody>
            <% squads.forEach(({ id, name, manager, lenEmployees, lenProjects }) => { %>
                <tr onclick="window.location='/empresa/squads/<%- id %>'">
                  <th scope="row"><%- id %></th>
                  <td><%- name %></td>
                  <td><%- manager %></td>
                  <td><%- lenEmployees %></td>
                  <td><%- lenProjects %></td>
                </tr>
            <% }) %> 
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>